body, canvas {
	margin: 0px;
	padding: 0px;
	user-select: none;
	position: absolute;
	width: 100%;
	height: 100%;
}

.app-ui-button {
	position: absolute;
	margin: 0px 0px 0px -0.5vh;
	padding: 2vh 0px;
	width: 40vh;
	height: 2vh;
	border-left: 0.5vh rgb(175, 126, 35) solid;
	box-shadow: inset 0px 0px 0.2vh 0.2vh rgba(0, 0, 0, 0.05);
	background: rgba(0, 0, 0, 0.05);
	text-align: center;
	color: white;
	font: lighter 2vh 'Arial';
}

#app {
	margin: 0px;
	padding: 0px;
	width: 100vw;
	height: 100vh;
}

#app-ui {
	position: absolute;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

#app-ui-bg {
	position: absolute;
	margin: 0px;
	padding: 0px;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #3F3F4F;
	background: radial-gradient(#5F5F6F, #3F3F4F);
}

#app-ui-sc {
	position: absolute;
	margin: 0px;
	padding: 0px;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

#app-ui-score {
	position: absolute;
	margin: 0px;
	padding: 0px;
	padding-top: 2vh;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 7vh;
	text-shadow: 0px 0px 1vh rgba(19, 10, 0, 0.5);
	color: rgb(255, 255, 255);
	text-align: center;
	font: lighter 7vh 'Arial';
}

#app-ui-mul {
	position: absolute;
	margin: 0px;
	padding: 0px;
	padding-top: 4vh;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 5vh;
	text-shadow: 0px 0px 1vh rgba(19, 10, 0, 0.5);
	color: rgb(255, 81, 13);
	text-align: right;
	font: lighter 5vh 'Arial';
}

#app-ui-main {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -40vh;
	margin-left: -20vh;
	padding: 0px;
	width: 40vh;
	height: 80vh;
	background: rgba(255, 255, 255, 0.01);
}

#app-ui-fly {
	position: absolute;
	margin: 0px;
	padding: 0px;
	top: 10vh;
	width: 40vh;
	height: 15vh;
	text-shadow: 0px 0px 1vh rgba(255, 136, 0, 0.5);
	text-align: center;
	color: white;
	font: lighter 15vh 'Arial';
}

#app-ui-result {
	position: absolute;
	margin: 0px 0px 0px -0.5vh;
	padding: 0px;
	top: 28vh;
	left: 0vh;
	width: 40vh;
	height: 2vh;
	text-align: center;
	color: white;
	font: lighter 2vh 'Arial';
}

#app-ui-start {
	top: 35vh;
	left: 0vh;
}
