@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
	--bg-dark: rgb(31, 44, 82);
	--bg-light: rgb(230, 230, 230);
}

html, body {
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	background: var(--bg-light);
	font-family: 'Roboto';
}
