@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
	--bg-dark: rgb(31, 44, 82);
	--bg-light: rgb(84, 115, 156);
}

html, body {
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	background: radial-gradient(circle 50vh, var(--bg-light), var(--bg-dark));
	font-family: 'Roboto';
}
