body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

.screen {
	position: absolute;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
}

.yellow-bg {
	background: #FFFA20;
	background: radial-gradient(#FFFA20, #FF7F03);
}

.square-button {
	background: #FF7F03;
	border: solid 0.5vw black;
	border-radius: 2vw;
	height: 15vw;
	width: 15vw;
}

.round-button {
	background: #AF3F00;
	border: solid 0.5vw black;
	border-radius: 6vw;
	height: 12vw;
	width: 12vw;
}

.button {
	position: absolute;
	padding: 0px;
	margin: 0px;
}

#ui-loading {
	z-index: 20;
}

#ui-village {
	z-index: 10;
}

#ui-build {
	z-index: 10;
}

#ui-menu {
	z-index: 10;
}

#ui-rotate-image {
	position: absolute;
	width: 70vh;
	height: 70vh;
	left: calc(50% - 35vh);
	top: 15vh;
	animation: rotate 1s infinite;
}

#ui-loading-image {
	position: absolute;
	width: 70vw;
	height: 70vw;
	left: 15vw;
	top: calc(50% - 35vw);
	animation: loading 3s infinite linear;
}

#ui-loading-text {
	position: absolute;
	width: 100vw;
	height: 10vw;
	left: 0px;
	top: calc(50% - 5vw);
	text-align: center;
	font-size: 10vw;
	font-family: Arial;
	color: black;
}

#ui-village-build {
	bottom: 2vw;
	left: 2vw;
}

#ui-village-menu {
	top: 2vw;
	right: 2vw;
}

#ui-build-close {
	top: 2vw;
	right: 2vw;
}

#ui-menu-close {
	top: 2vw;
	right: 2vw;
}

@keyframes rotate {
	50% {
		transform: rotate(45deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes loading {
	100% {
		transform: rotate(360deg);
	}
}