body {
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	width: 100vw;
	height: 100vh;
}

#move-control {
	position: fixed;
	display: none;
	width: 40vmin;
	height: 40vmin;
	top: calc(100vh - 40vmin);
	left: 0px;
	touch-action: none;
}

#camera-control {
	position: fixed;
	display: none;
	width: 40vmin;
	height: 40vmin;
	top: calc(100vh - 40vmin);
	left: calc(100vw - 40vmin);
	touch-action: none;
}
